body{background:pink;font-family:'Comic Sans MS';}

header
	{
	width:80%;
	background-color: yellow;
	color:red;
	margin-right:auto;
	margin-left:auto;
	overflow:hidden;
	}

	nav{width:80%;
		float:right;}
	
	nav ul{list-style-type:none;}
	
	nav li{float:left;
	margin-right:auto;
	margin-left:auto;}

footer{width:50%;
	background-color: white;
	color:red;
	border-color:orange;
	border-style:solid;
	border-width:5px;
	margin-right:auto;
	margin-left:620px;}
	
h1{
	width:80%;
	font-size:2em;
	margin:20px;}

h2{width:80%;
font-family:'Time New Romans';
font-size:1.5em;
margin:20px;}

picture{
	border-color:orange;
	border-style:solid;
	border-width:5px;
float:left;
margin-left:150px;}

section{
	border-color:orange;
	border-style:solid;
	border-width:5px;
	width:50%;
margin-left:620px;
margin-right:auto;}

