body{background:pink;font-family:'Aria';}

header
	{
	width:80%;
	background-color: yellow;
	color:red;
	margin-right:auto;
	margin-left:auto;
	overflow:hidden;
	}
	
	nav{width:80%;
		float:right;}
	
	nav ul{list-style-type:none;}
	
	nav li{float:left;
	margin-right:auto;
	margin-left:auto;}
	
	h1{
	width:80%;
	font-size:2em;
	margin:20px;}

	h2{width:80%;
	font-family:'Time New Romans';
	font-size:1.5em;
	margin:20px;}
	
	h3{width:80%;
	font-size:1em;
	margin:20px;}
	
	section h1{font-size:1em;}
	
section{width:80%
	margin-right:auto;
	margin-left:150px;
	float:left;}
